/* APP */

header {
  /* height: 75px; */
  display: flex;
  align-items: center;
}
h1 {
  margin: 20px 30px;
  text-align: center;
}
.nextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newWord {
  width: 85%;
  margin-top: 10px;
  height: 50px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}
.generateWord {
  width: 85%;
  margin: 10px;
  height: 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}
select:hover,
button:hover {
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .newWord {
    width: 65%;
  }
}
