/* APP */

/* 
background-color: #2C293F;
background-color: #1F1D2C;
background-color: #DCACFA;
background-color: #E4C9EB;
 */

header {
  background-color: #1f1d2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #2c293f;
}
h1 {
  margin: 20px 30px;
  text-align: center;
  color: #e4c9eb;
}
.setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;
}

.nextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newWord {
  width: 85%;
  margin-top: 10px;
  height: 50px;
  background-color: #dcacfa;
  border: none;
  border-radius: 5px;
  color: #1f1d2c;
}
select {
  margin-left: 10px;
  font-size: 15px;
  border-radius: 5px;
}

label {
  color: #e4c9eb;
}
.generateWord {
  margin: 10px;
  background-color: #1f1d2c;
  color: #e4c9eb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
select:hover,
button:hover {
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .newWord {
    width: 65%;
    max-width: 400px;
  }
}
